
.contact {
	box-sizing: border-box; 
	max-width: 100%; overflow-x: scroll; overflow-y: hidden; 
	width: var( --contact-box-size ); height: var( --contact-box-size );
	padding: var( --contact-box-padding ); 
	margin-top: var( --contact-box-margin-top ); margin-bottom: var( --contact-box-margin-bottom );
	background-color: var( --background-color );
	
}

.contact .key-value-pair {
	margin-bottom: var( --contact-entry-margin-bottom );
	
}

.contact .key {
	display: block; 
	margin-bottom: var( --contact-key-margin-bottom );
	font-size: var( --contact-key-font-size );
}

.contact .key:before {
	display: block; 
	margin-bottom: var( --contact-icon-margin-bottom );
	font-family: Ionicons;
	font-size: var( --contact-icon-font-size ); 
}

.contact .phone .key:before {
	content: "\f3a2";
}

.contact .email .key:before {
	content: "\f422"; 
}

.contact .website .key:before {
	content: "\f38c";
}





















