
.contact {
	box-sizing: border-box; 
	width: var( --contact-box-size ); height: var( --contact-box-size );
	padding: var( --contact-box-padding ); 
	margin-top: var( --contact-box-margin-top ); margin-bottom: var( --contact-box-margin-bottom );
	background-color: var( --background-color );
	
}

.contact .key-value-pair {
	margin-bottom: var( --contact-entry-margin-bottom );
	
}

.contact .key {
	display: block; 
	margin-bottom: var( --contact-key-margin-bottom );
}

.contact .key:before {
	display: block; 
	width: var( --contact-icon-size ); height: var( --contact-icon-size );
	margin-bottom: var( --contact-icon-margin-bottom );
	font-family: Ionicons;
	font-size: 1.25rem; 
}

.contact .phone .key:before {
//	content: "\f2d2"; 
	content: "\f3a2";
	content: "\f4b9"; 
}

.contact .email .key:before {
//	font-size: 1.4rem; 
//	content: "\f422"; 
	content: "\f132";
//	content: "\f473"; 
}

.contact .website .key:before {
	content: "\f38c";
	content: "\f4d3"; 
}





















