
/* Header bottom border width equals to one half of the photo height, 
 * that way keeping the entire photo inside the header box */
header {
	--header-border-width: calc( var( --photo-size ) / 2 );
}

header {
	box-sizing: border-box; 
}

/* Using Flexbox to define vertical distribution of the person name, position and photo */
.person {
	display: flex; flex-direction: column;
	padding-right: 0; 
}

header .key-value-pair {
	width: 100%; 	
}

.name {
	font-size: var( --name-font-size ); 
}

header .position {
	font-size: var( --position-font-size );
}

/* The photo is given the form of a circle with a drop shadow */
.photo .value {
	display: block; 
	width: var( --photo-size ); height: var( --photo-size );
	background-size: cover; 
    background-color: var( --background-color ); 
	border-radius: 50%; 
	box-shadow: 0 0 var( --photo-box-shadow-size ) var( --photo-box-shadow-color );
}

.photo img {
	display: none; 
}


/* Top name-position/bottom photo */

header {
	padding-top: var( --header-padding ); 
	background-color: var( --background-color ); background-clip: padding-box; 
	border-bottom-width: var( --header-border-width ); border-bottom-style: solid; border-bottom-color: transparent;  
}

/* Bottom margin is used to create vertical distance between the person name, position and photo */

.name {
	order: 1;
	margin-bottom: var( --name-margin-bottom );
}

header .position {
	order: 2;
	margin-bottom: var( --position-margin-bottom );
}

.photo {
	order: 3; 
	margin-bottom: calc( -1 * var( --header-border-width ) );
}


/* Top photo - bottom name/position */

/* header {
	margin-top: var( --header-margin-top ); 
	border-top: var( --header-border-width ) solid transparent;
}

.person {
	position: relative; 
	background-color: var( --background-color );
}

.name {
	order: 2;
	margin-bottom: var( --name-margin-bottom );
}

header .position {
	order: 3;
	margin-bottom: var( --position-margin-bottom );
}

.photo {
	order: 1; 
	margin-bottom: var( --photo-margin-bottom ); margin-top: calc( -1 * var( --header-border-width ) ); 
}

.photo:after {
	display: block;
	width: 100%; height: var( --photo-size );
	position: absolute; left: 0; top: 0; z-index: -1; 
	content: "";
} */





















