.intro {
	--circle-radius: 200%; 
	--circle-border-width: 4rem;
	--circle-initial-scale: 7; 

	--wrapper-rotation-angle: -20deg;
	--slide-value: 25%;
	--slide-left-value: calc( -50% - var( --slide-value ) );
	--slide-right-value: calc( -50% + var( --slide-value ) );
	
	
	--circles-gap: 0.125rem; 
	--text-height: 2rem;
	--left-color: #ff9900;
	--right-color: #003333;
	--initial-font-size: 5rem;
	--text-font-size: 28rem; 
	--text-scale: 1; 
	
}

body {
	--fragments-enter-delay: 0.85s;
	--fragments-enter-duration: 0.4s;
	
	--stand-still-duration: 0.2s;
	
	--wrapper-rotation-delay: calc( var( --fragments-enter-delay ) + var( --fragments-enter-duration ) + var( --stand-still-duration ) );
	--wrapper-rotation-duration: 0.2s;
	
	--heading-enter-delay: calc( var( --wrapper-rotation-delay ) + var( --wrapper-rotation-duration ) + var( --stand-still-duration ) );
	--heading-enter-duration: 0.2s; 
	
	--subheading-enter-delay: calc( var( --wrapper-rotation-delay ) + var( --wrapper-rotation-duration ) + var( --stand-still-duration ) );
	--subheading-enter-duration: 0.2s; 
	
	--heading-slide-left-delay: calc( var( --heading-enter-delay ) + var( --heading-enter-duration ) );
	--heading-slide-left-duration: 20s; 
	
	--subheading-slide-right-delay: calc( var( --subheading-enter-delay ) + var( --subheading-enter-duration ) );
	--subheading-slide-right-duration: 20s; 
	
	--fragments-slide-limit: 1.75s;
	
	--wrapper-out-delay: calc( var( --heading-slide-left-delay ) + var( --fragments-slide-limit ) );
	--wrapper-out-duration: 0.75s;
	
	--animation-end-time: calc( var( --wrapper-out-delay ) + var( --wrapper-out-duration ) ); 
	--page-display-time: calc( var( --animation-end-time ) - 0.75s );
}

html {
	overflow-y: scroll; 
	
}

body > * {
	animation-name: display-not, display; animation-duration: 0.0005s; animation-delay: 0s, var( --page-display-time ); 
}

.intro {
	height: auto; 
	opacity: 1; 
	animation: none; 
	z-index: 10; 
}

.intro, .intro .wrapper {
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; 
}

.intro {
	transform-origin: left center;
	overflow: hidden; 
}

.intro .heading, .intro .subheading, .circles {
	position: absolute; left: 50%; 
}

.intro .heading, .intro .subheading {
	transform: translateX( -50% );
	z-index: 1; 
	font-family: Impact;
	overflow: hidden; 
}

.intro .heading { 
	bottom: 50%; 
	font-size: var( --initial-font-size ); 
	color: var( --right-color ); 
	transform-origin: center bottom;
}

.intro .subheading {
	top: 50%;  
	font-family: Kalinga; 
	font-size: var( --initial-font-size ); font-size: 1.25rem; line-height: 3; 
	color: var( --left-color );
	transform-origin: center top;
}

.intro .heading span, .intro .subheading span {
	display: block; 
	width: auto; height: 100%; 
}

.intro .heading span {
	transform: translateY( 100% );
}

.intro .subheading span {
	transform: translateY( -100% );
}

.circles {
	width: var( --circle-radius ); padding-top: var( --circle-radius );
	position: fixed; top: 50%; transform: translate( -50%, -50% );
	transform: translate( -50%, -50% ); 
	overflow: hidden; 
}

.circle {
	width: 100%; height: 50%; 
	position: absolute; 
	
}

body > *, .intro, .intro .wrapper, .intro .heading, .intro .subheading, .intro .heading span, .intro .subheading span, .circle, .circles { 
	animation-fill-mode: forwards; 
}

.intro .left {
	bottom: 50%; 
	background-color: var( --left-color );
	transform: translateY( -100% );
}

.intro .right {
	top: 50%; 
	background-color: var( --right-color );
	transform: translateY( 100% );
}

.intro .left, .intro .right {
	animation-delay: var( --fragments-enter-delay ); 
	animation-duration: var( --fragments-enter-duration ); 
}

.intro .left {
	animation-name: slide-down; 
	
}

.intro .right {
	animation-name: slide-up; 
	
}

.intro .wrapper {
	animation-name: rotate-left, rotate-out; 
	animation-duration: var( --wrapper-rotation-duration ), var( --wrapper-out-duration ); 
	animation-delay: var( --wrapper-rotation-delay ), var( --wrapper-out-delay ); 
}

.intro .heading span, .intro .subheading span {
	animation-duration: var( --heading-enter-duration ); animation-delay: var( --heading-enter-delay ); 
}

.intro .heading span {
	animation-name: grow-upwards; 
}

.intro .subheading span {
	animation-name: grow-downwards; 
}

.intro .heading, .intro .subheading {
	animation-timing-function: linear; 
	animation-duration: var( --heading-slide-left-duration ); animation-delay: var( --heading-slide-left-delay ); 
}

.intro .heading {
	animation-name: slide-left; animation-delay: var( --heading-slide-left-delay ); 
	animation-duration: var( --heading-slide-left-duration );
}

.intro .subheading {
	animation-name: slide-right; animation-delay: var( --heading-slide-left-delay ); 
	animation-duration: var( --heading-slide-left-duration ); 
}

.intro {
	animation-name: display-not; animation-duration: 0.0005s; animation-delay: var( --animation-end-time );
}



@keyframes fade-in {
	
	0% {
		opacity: 0; 
	}
	
	100% {
		opacity: 1; 
	}
	
}

@keyframes slide-up {
	
	0% {
		transform: translateY( 100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes slide-down {
	
	0% {
		transform: translateY( -100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes rotate-left {
	
	0% {
		transform: rotateZ( 0 );
	}
	
	100% {
		transform: rotateZ( var( --wrapper-rotation-angle ) );
	}
	
}

@keyframes grow-upwards {
	
	0% {
		transform: translateY( 100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes grow-downwards {
	
	0% {
		transform: translateY( -100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes slide-left {
	
	0% {
		transform: translateX( -50% );
	}
	
	100% {
		transform: translateX( var( --slide-left-value ) );
	}
	
}

@keyframes slide-right {
	
	0% {
		transform: translateX( -50% );
	}
	
	100% {
		transform: translateX( var( --slide-right-value ) );
	}
	
}

@keyframes rotate-out {
	
	0% {
		transform: rotateZ( var( --wrapper-rotation-angle ) );
	}
	
	100% {
		transform: rotateZ( -90deg );
		transform-origin: -400% center;
	}
	
}

@keyframes scale-out {
	
	0% {
		transform: scaleX( 1 );
	}
	
	100% {
		transform: scaleX( 0 );
	}
	
}

@keyframes remove {
	
	100% {
		height: 0; overflow: hidden;
	}
	
}

@keyframes display-not {
	
	100% {
		height: 0; overflow: hidden; 
		opacity: 0; 
	}
	
}

@keyframes display {
	
	100% {
		height: auto; overflow: visible; 
		opacity: 1; 
	}
	
}























