
.subject, h6, dt, .contact .section-title {
	display: none; 
}

.overview, .entry-list, .person .key-value-pair, .background-image, .main-nav, footer {
	box-sizing: border-box; 
	max-width: var( --content-area-width ); 
	margin-left: auto; margin-right: auto; 
	padding-left: var( --field-left-width ); padding-right: var( --field-right-width ); 
}

header {
	margin-bottom: var( --header-margin-bottom );
}

.main-nav {
	margin-bottom: var( --main-nav-margin-bottom );
	padding-right: 0; 
}

section.section {
	min-height: var( --section-min-height );
	position: relative; 
}

.overview {
	margin-bottom: var( --overview-margin-bottom ); 
}

.entry-list {
	padding-top: var( --overview-padding ); padding-bottom: var( --overview-padding ); 
	padding-left: var( --field-left-width ); padding-right: var( --field-right-width ); 
	position: relative;
}

.entry-list:after {
	display: block;
	width: var( --content-separator-width ); height: 100%;
	position: absolute; left: var( --field-left-width ); top: 0; 
	background-color: var( --text-color );
	content: "";
	
}

.entry {
	padding-left: var( --entry-padding-left );
	margin-bottom: var( --entry-margin-bottom ); 
	position: relative; 
}

.entry:last-of-type {
	margin-bottom: 0; 
	
}

.primary {
	margin-bottom: var( --primary-text--margin-bottom );
	
}

.secondary {
	margin-bottom: var( --secondary-text-margin-bottom );
}

.year, .graphic-representation {
	position: absolute; right: 100%; margin-right: var( --year-margin-right ); top: 0; 
}

.year {
	margin-bottom: var( --year-margin-bottom );
}

main {
	margin-bottom: var( --content-margin-bottom );
	
}

.background-image {
	display: none; 
	width: var( --content-area-width ); height: var( --section-min-height );
	position: absolute; left: 50%; margin-left: calc( -1 * var( --content-area-width ) / 2 ); top: 0; 
	background-size: contain; background-repeat: no-repeat; background-position: center center;  
}

figure.background-image img {
	display: none; 
}

a:link, a:visited, a:active, *:focus {
	outline: none; 
}






















