
/* Hiding structural elements, not present in the rendered page */
.subject, h6, dt, .contact .section-title {
	display: none; 
}

.overview, .entry-list, .person .key-value-pair, .main-nav, footer {
	box-sizing: border-box; 
	max-width: var( --content-area-width ); 
	margin-left: auto; margin-right: auto; 
	padding-left: var( --field-left-width ); padding-right: var( --field-right-width ); 
}

header {
	margin-bottom: var( --header-margin-bottom );
}

.main-nav {
	margin-bottom: var( --main-nav-margin-bottom );
	padding-right: 0; 
}

section.section {
	min-height: var( --section-min-height );
	position: relative; 
}

.overview {
	margin-bottom: var( --overview-margin-bottom ); 
}

.entry-list {
	padding-top: var( --overview-padding ); padding-bottom: var( --overview-padding ); 
	padding-left: var( --field-left-width ); padding-right: var( --field-right-width ); 
	position: relative;
}

.entry {
	padding-left: var( --entry-padding-left );
	margin-bottom: var( --entry-margin-bottom ); 
	position: relative; z-index: 2; 
}

.entry:last-of-type {
	margin-bottom: 0; 
	
}

.entry-list:after {
	display: block;
	width: var( --content-separator-width ); height: 100%;
	position: absolute; left: var( --field-left-width ); top: 0; 
	background-color: var( --text-color );
	content: "";
	
}

.primary {
	margin-bottom: var( --primary-text--margin-bottom );
	
}

.secondary {
	margin-bottom: var( --secondary-text-margin-bottom );
}

.year, .graphic-representation {
	position: absolute; right: 100%; margin-right: var( --year-margin-right ); top: 0; 
}

.year {
	margin-bottom: var( --year-margin-bottom );
}

main {
	margin-bottom: var( --content-margin-bottom );
	
}


/* Backgrounds general settings */

.background-image {
	position: absolute; left: 50%; margin-left: calc( -1 * var( --background-image-width ) / 2 ); top: 10rem; 
	z-index: 1; 
	background-image: none !important; 	
}

.background-image img {
	display: block; 
	max-width: var( --background-image-width ); height: auto; 
	z-index: 1; 
	background-color: var( --background-color );
}

/* Pseudo-element, representing the background circle */
.background-image:after {
	display: block; 
	width: var( --circle-radius ); padding-top: var( --circle-radius );  
	position: absolute; /* left: 50%; */ top: 50%; margin-top: calc( -1 * var( --circle-radius ) / 2 );
	z-index: 2; 
	border: var( --circle-width ) solid var( --background-color ); 
	border-radius: 50%; 
	content: "";
}


/* Removing default link and other interactive elements styling */

a:link, a:visited, a:active, *:focus {
	outline: none; 
}


/* Button styling */

.button, .button:before {
	height: var( --button-icon-size ); line-height: var( --button-icon-size );
}

/* Button width adjusts to the length of the button text */
.button {
	display: inline-block; 
	border: none; 
	background-color: transparent; 
	color: var( --text-color );
	cursor: pointer; 
}

.button:before, .button:after {
	display: inline-block;
	width: var( --button-icon-size ); 
}

/* Pseudo-element to hold the button highlighting line, appearing on hover */
.button:before {
	height: 1px; width: 1.25rem; 
	position: absolute; right: 100%; margin-right: 0.45rem; 
	background-color: var( --text-color ); background-clip: content-box; 
	content: "";
}

/* Button icon */
.button:after {
	font-family: Ionicons; 
	content: "\f394";
}

.open-nav-button, .floating-button {
	display: flex; flex-direction: row; align-items: center; justify-content: center; 
	padding-left: 0; 
}

/* The button, that opens navigation is displayed on small screens, 
 * where it takes the place of the navigation */
.open-nav-button {
	display: none; 
	position: relative;
}

/* Styles to add button interactivity: 
 * a line appears from the left when hovering over the button */

.button:before {
	transform: translateX( -1.75rem );
	opacity: 0; 
	transition-property: transform, opacity; transition-duration: 0.2s; transition-delay: 0.075s;
}

.button:hover:before {
	transform: translateX( 0 );
	opacity: 1;
}


















