.main-nav {
	font-size: var( --main-nav-font-size );
}

.nav-links {
	display: inline-block; 
	margin-left: calc( -1 * var( --link-padding-x ) ); 
}

/* Making the navigation horizontal */
.nav-links li {
	float: left; 
}

.nav-links:after {
	display: block;
	clear: both; 
	content: "";
}

.link {
	display: block;
	padding-left: var( --link-padding-x );
	padding-right: var( --link-padding-x );
	position: relative;
}

/* Vertical link highlighting mark */

.link:before {
	display: block; margin-left: auto; margin-right: auto; 
	margin-bottom: 0.75rem; 
	width: 1px; height: 1.4rem;
	background-color: var( --text-color );
	content: "";
}

/* Link highlighting mark interactivity settings:
 * the mark appears and slides from above down on hover */

.link:before, .nav-links:hover .link:before {
	transform: translateY( calc( -1 * var( --link-mark-shift ) ) );
	opacity: 0;
}

.link:before {
	transition-property: transform, opacity; transition-duration: 0.2s; 
}

.link.current-link:before, .nav-links:hover .link:hover:before {
	transform: translateY( 0 );
	opacity: 1;
}

/* Horizontal link mark */

/* .link:after {
	display: block; 
	height: var( --link-mark-height );
	margin-top: var( --link-mark-margin-top );
	background-color: var( --text-color );
	content: "";
}

.link:after, .nav-links:hover .link:after {
	width: 0;
}

.link:after {
	transition-property: width; transition-duration: 0.2s; 
}

.link.current:after, .nav-links:hover .link:hover:after {
	width: 100%;  
} */

/* .open-nav-button,  */ /* .floating-button {
	padding-right: 0.75rem;
	border: 1px solid;
} */




























