.main-nav {
	font-size: var( --main-nav-font-size );
	
}

.nav-links {
	display: flex; flex-direction: row;
	
}

.nav-links li {
	margin-right: var( --nav-links-space-between );
}

.link {
	display: block;
	position: relative;
}

.link:after {
	display: block;
	width: 100%; height: var( --link-mark-height );
	margin-top: var( --link-mark-margin-top );
	background-color: var( --text-color );
	content: "";
}

.link:after {
	opacity: 0;
}

.link.current:after, .link:hover:after {
	opacity: 1;
}



















