.floating-nav {
	--floating-button-initial-margin-right: calc( -1 * var( --button-icon-size ) );
	--floating-button-enter-duration: 0.2s; 
	
	--nav-links-wrapper-slide-delay: 0s; 
	--nav-links-wrapper-slide-duration: 0.8s;
	
	--preview-wrapper-slide-delay: var( --nav-links-wrapper-slide-delay ); 
	--preview-wrapper-slide-duration: var( --nav-links-wrapper-slide-duration );

	--nav-wrapper-rotation-relative-delay: 0.2s; 
	--nav-wrapper-rotation-duration: 0.2s; 
	--nav-wrapper-rotation-angle: -20deg; 
	--nav-wrapper-rotation-delay: calc( var( --nav-links-wrapper-slide-delay ) + var( --nav-links-wrapper-slide-duration ) + var( --nav-wrapper-rotation-relative-delay ) ); 
	
	--label-slide-up-relative-delay: 0.2s; 
	--label-slide-up-duration: 0.75s;
	--label-slide-up-delay: calc( var( --nav-wrapper-rotation-delay ) + var( --nav-wrapper-rotation-duration ) + var( --label-slide-up-relative-delay ) ); 
	
	--nav-links-slide-down-delay: var( --label-slide-up-delay ); 
	--nav-links-slide-down-duration: var( --label-slide-up-duration ); 
	
	--preview-slide-up-duration: 0.4s; 
	
	--close-button-animation-relative-delay: -0.175s; 
	--close-button-fade-in-duration: 0.75s; 
	--close-button-fade-in-delay: calc( var( --label-slide-up-delay ) + var( --label-slide-up-duration ) + var( --close-button-animation-relative-delay ) ); 
	--close-button-scale-delay: var( --close-button-fade-in-delay ); 
	--close-button-scale-duration: var( --close-button-fade-in-duration );
	
}


/* Ensures that contact section is behind floating navigation */
footer {
	position: relative; z-index: 2;
}


/* Floating navigation stretches over the whole screen when on */
.floating-nav.nav-open {
	height: 100%; 
}


.floating-button.button-visible, 
.nav-links-wrapper, 
.label-wrapper, 
.nav-wrapper, 
.nav-links, 
.close-nav-button, 
.label.menu-label-enter, 
.label-visible, 
.close-button-label.visible {
	animation-fill-mode: forwards;
}

.floating-button.button-visible {
	animation-name: slide-into-view; animation-duration: var( --floating-button-enter-duration ); animation-delay: 0s; 
	
}

.nav-open .nav-links-wrapper {
	animation-name: slide-up; animation-duration: var( --nav-links-wrapper-slide-duration ); animation-delay: var( --nav-links-wrapper-slide-delay );
}

.nav-open .label-wrapper {
	animation-name: slide-down; animation-duration: var( --preview-wrapper-slide-duration ); animation-delay: var( --preview-wrapper-slide-delay );
}

.nav-open .nav-wrapper {
	animation-name: rotate-nav; animation-duration: var( --nav-wrapper-rotation-duration ); animation-delay: var( --nav-wrapper-rotation-delay ); 
}

.nav-open .nav-links {
	animation-name: slide-down; animation-duration: var( --nav-links-slide-down-duration ); animation-delay: var( --nav-links-slide-down-delay ); 
}

.nav-open .menu-label-enter {
	animation-name: slide-up; animation-duration: var( --label-slide-up-duration ); animation-delay: var( --label-slide-up-delay ); 
}

.nav-open .label-visible {
	animation-name: slide-up; animation-duration: var( --preview-slide-up-duration ); 
}

.nav-open .close-nav-button {
	animation-name: fade-in, close-button-rotate; 
	animation-duration: var( --close-button-fade-in-duration ); 
	animation-delay: var( --close-button-fade-in-delay ); 
}


/* -----------------------------------------
 * Keyframes 
 *------------------------------------------*/

@keyframes slide-up {
	
	0% {
		transform: translateY( 100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes slide-down {
	
	0% {
		transform: translateY( -100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes preview-interaction {
	
	0% {
		transform: translateY( 0 );
	}
	
	50% {
		transform: translateY( 100% );
	}
	
	100% {
		transform: translateY( 0 );
	}
	
}

@keyframes rotate-nav {
	
	0% {
		transform: translate( -50%, -50% ) rotateZ( 0 );
	}
	
	100% {
		transform: translate( -50%, -50% ) rotateZ( var( --nav-wrapper-rotation-angle) );
	}
	
}

@keyframes slide-into-view {
	
	100% {
		margin-right: 0; 
	}
	
}

/* @keyframes close-button-rotate {
	
	0% {
		transform: rotateZ( 90deg );
	}
	
	100% {
		transform: rotateZ( 0deg );
	}
	
} */

@keyframes close-button-rotate {
	
	0% {
		transform: scale( 1 );
	}
	
	50% {
		transform: scale( 2 );
	}
	
	100% {
		transform: scale( 1 );
	}
	
}



















