/* This file provides a convinient way 
 * to easily fine-tune the visual presentation of the content 
 */

:root {
	/* Global Settings */
	--content-area-width: 1280px; 
	--content-separator-width: 1px; 
	--field-left-width: 7.5rem;
	--field-right-width: 35%; 
	--background-image-size: 75%;
	
	--main-font-family: Arial;
	--main-font-size: 16px;
	--body-text-line-height: 1.25; 
	--text-color: #ff9900;
	--over-background-text-color: #ffcc66;
	--background-color: #003333; 
	--highlight-font-family: Kalinga; 
	
	
	/* General Section Settings */
	--overview-padding: 2rem;
	--overview-margin-bottom: 4rem; 
	--section-min-height: 45rem; 
	--section-title-font-size: 2rem;
	
	
	/* Entry Settings */
	--entry-margin-bottom: 5rem; 
	--entry-margin-left: 8rem; 
	--entry-padding-left: 2rem; 
	--entry-separator-width: 1px;
	--year-margin-right: 5%; 
	
	--primary-text-margin-bottom: 0.05rem;
	--secondary-text-margin-bottom: 0.75rem;
	--primary-text-font-size: 1.5rem;
	--secondary-text-font-size: 1rem;
}

header {
	--header-margin-bottom: 4.75rem; 
	--header-padding: 0;
	--name-margin-bottom: 0.4rem; 	
	--position-margin-bottom: 4.75rem; 
	--photo-margin-bottom: 2.25rem;
	--photo-size: 7.5rem;
	--photo-box-shadow-size: 10px;
	--photo-box-shadow-color: rgba( 0, 0, 0, 0.75 );
	
	/* --header-font-family: "Arial Black"; */
	--name-font-size: 1.4rem;
	--position-font-size: 0.8rem;
}

.main-nav {
	--main-nav-margin-bottom: 2rem; 
	--nav-links-space-between: 0.75rem; 
	--link-mark-margin-top: 0.85rem; 
	--link-mark-height: 1px; 
	--link-mark-shift: 2rem;
	--main-nav-font-size: 0.85rem; 
}

.home {
	
}

.education {
	
}

.work-experience {
	
}

.skills {
	--graphic-representation-box-size: 12%; 
	--graphic-representation-border-width: 0.5rem; 
	--graphic-representation-mask-border-width: 2.5rem; 
	--graphic-representation-border-color: var( --main-text-color ); 
	--graphic-representation-background-color: rgba( 255, 255, 255, 1 );
	
	
	
}

.footer {
	--footer-margin-bottom: 0; 
}

.contact {
	--contact-box-size: 22rem; 
	--contact-box-padding: 3.25rem; 
	--contact-entry-margin-bottom: 1.85rem; 
	--contact-box-margin-bottom: 4rem;
	--contact-box-margin-top: 5rem;
	
	--contact-key-font-size: 0.85rem;
	
	--contact-icon-margin-bottom: 0.45rem; 
	--contact-icon-size: 1rem;
	--contact-key-margin-bottom: 0.25rem;
	--contact-icon-font-size: 1.25rem;
}






















