:root {
	--font-size: 18px;
	--line-height: 1; 
	
	--primary-margin-bottom: 0.05rem;
	--secondary-margin-bottom: 0.75rem;
	--entry-margin-bottom: 1.75rem; 
	--entry-margin-left: 8rem; 
	--entry-padding-left: 4rem; 
	--entry-separator-width: 1px;
	--year-margin-right: 2.5rem; 
	
	--overview-padding: 2rem;

	--text-color: rgba( 0, 0, 0, 1 );
	--background-color: rgba( 255, 0, 0, 1 );
	
	--section-title-font-size: 2rem;
	
	--strong-font-size: 1.5rem;
	--secondary-font-size: 1rem;
	
	--skills-graphic-representation-size: 4rem; 
	--skills-graphic-representation-border: 0.5rem; 
	--skills-graphic-representation-color: red; 
	--skills-graphic-representation-background: rgba( 255, 255, 255, 1 );
	
	--footer-margin-bottom: 5rem; 
}

header {
	--header-bottom: 2rem; 
	--name-bottom: 0.4rem;
	--position-bottom: 1.2rem; 
	--header-font-family: "Arial Black";
	--name-font-size: 1.2rem;
	--position-font-size: 0.8rem;
	--header-padding: 2rem;
	--photo-size: 4.5rem;
}






















