
/* Graphic representation box and percentage wheel box are squares */

.graphic-representation {
	width: var( --graphic-representation-box-size ); padding-top: var( --graphic-representation-box-size );
	margin-right: 0; margin-bottom: var( --graphic-representation-margin-bottom );
	position: absolute; 
	overflow: hidden; 
}

/* Finds the left and top distance from the bounding box to center the percentage wheel */
.percentage-wheel {
	--percentage-wheel-shift: calc( ( 100% - var( --wheel-size ) ) / 2 ); 
}

.percentage-wheel {
	box-sizing: border-box; 
	width: var( --wheel-size ); height: var( --wheel-size ); 
	position: absolute; left: var( --percentage-wheel-shift ); top: var( --percentage-wheel-shift ); 
}

/* The numeric percentage value is placed at the center of the wheel */
.graphic-representation .value {
	position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% ); z-index: 3; 
	
}
































