
/* Font declarations */

@font-face {
	font-family: "Arial Black";
	src: url( "../fonts/ariblk.ttf" );
}

@font-face {
	font-family: Impact;
	src: url( "../fonts/impact.ttf" );
}

@font-face {
	font-family: "Kalinga";
	src: url( "../fonts/kalinga.ttf" );
}

@font-face {
	font-family: "Kalinga Bold";
	src: url( "../fonts/kalingab.ttf" );
}

@font-face {
	font-family: "Ionicons";
	src: url( "../fonts/ionicons.ttf" );
}


body {
	font-family: var( --main-font-family );
	font-size: var( --main-font-size );
	color: var( --text-color ); 
}

.text-entry, .description-text {
	line-height: var( --body-text-line-height );
}

header, .contact {
	color: var( --over-background-text-color ); 
}

header .name, .section-title {
	font-family: var( --highlight-font-family );	
}

.section-title {
	font-size: var( --section-title-font-size );
}

.primary, .secondary, .year, .skill-level {
	font-family: var( --highlight-font-family );
}

.primary {
	font-size: var( --primary-text-font-size );
}

.secondary {
	font-size: var( --secondary-text-font-size );
}















