
@font-face {
	font-family: "Arial Black";
	src: url( "./fonts/ariblk.ttf" );
}

@font-face {
	font-family: Ionicons;
	src: url( "./fonts/ionicons.ttf" );
}

body {
	font-size: var( --font-size );
	line-height: var( --line-height );
}

.person .name {
	font-size: 1.2rem;
}

.person .position {
	font-size: 0.8rem;
}

.section-title {
	font-size: var( --section-title-font-size );
}

.primary, .secondary, .year, .skill-level {
//	font-family: "Arial Black";
}

.primary {
	font-size: var( --primary-text-font-size );
}

.secondary {
	font-size: var( --secondary-text-font-size );
}

.year {
	
}















