<!DOCTYPE html>

<html lang= "en">
<head>
	<title>Intro</title>
	<meta charset= "UTF-8" />
	<meta name= "viewport" content= "width=device-width, initial-scale=1" />
	<meta name= "description" content= "intro">
	<meta name= "author" content= "Ico Pavlov">
	
	<link href= "style.css" type= "text/css" rel= "stylesheet" />
</head>

<body>

<article class= "text">
	<h1 class= "heading"><span>Resume</span></h1>
	<h2 class= "subheading"><span>Ico Pavlov</span></h2>
</article>


<!-- jQuery -->
<script src= "jquery-3.2.0.min.js" type= "text/javascript"></script>

<script src= "main.js" type= "text/javascript"></script>

</body>
</html>