.circles {
	--circle-radius: 10rem;
	--circle-border-width: 4rem;
	--circle-initial-scale: 7; 
	
	--animation-start-delay: 1.25s; 
	--relative-animation-delay: 0.2s; 
	--relative-animation-start-delay: calc( var( --animation-start-delay ) + var( --relative-animation-delay ) ); 
	--rotation-angle: -45deg;
	--circles-gap: 0.125rem; 
	--slide-value: 2.5rem;
	
}

.text {
	position: relative; 
	
}
.circles {
	
	
}

.circle {
	width: var( --circle-radius ); height: var( --circle-radius );
	position: absolute; 
	background-color: red;
	border-style: solid; border-color: red; border-width: var( --circle-border-width ); 
	border-radius: 50%; 
//	clip-path: inset( 0 0 50% 0 );
	
}

.circle:first-child {
	clip-path: inset( 0 0 50% 0 );
}

.circle:last-child {
	clip-path: inset( 50% 0 0 0 );
}


.circle {
	box-sizing: border-box; 
	position: fixed; left: calc( 50% - var( --circle-radius ) / 2 ); top: calc( 50% - var( --circle-radius ) / 2 ); 
	transform: scale( var( --circle-initial-scale ) );
	opacity: 0; 
	
}

.circle {
	animation-duration: 0.5s; 
	animation-fill-mode: forwards; 
}

.circle:first-child {
	animation-name: fade-in, scale-down, shift-up, rotate-left, slide-left; 
	animation-delay: var( --animation-start-delay ), var( --animation-start-delay ), 2.25s, 2.75s, 3.125s;
	animation-duration: 0.5s, 0.5s, 0.075s, 0.075s;
}

.circle:last-child {
	animation-name: fade-in, scale-down, shift-down, rotate-left, slide-right;
	animation-delay: var( --relative-animation-start-delay ), var( --relative-animation-start-delay ), 2.25s, 2.75s, 3.125s; 
	animation-duration: 0.5s, 0.5s, 0.075s, 0.075s;
}


@keyframes fade-in {
	
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1; 
	}
	
}

@keyframes scale-down {
	
	0% {
		transform: scale( var( --circle-initial-scale ) );
	}
	
	100% {
		transform: scale( 1 );
	}
	
}

@keyframes scale-down {
	
	0% {
		transform: scale( var( --circle-initial-scale ) );
	}
	
	100% {
		transform: scale( 1 );
	}
	
}

@keyframes shift-up {
	
	0% {
		margin-top: 0; 
	}
	
	100% {
		margin-top: calc( -1 * var( --circles-gap ) );
	}
	
}

@keyframes shift-down {
	
	0% {
		margin-top: 0; 
	}
	
	100% {
		margin-top: var( --circles-gap );
	}
	
}

@keyframes rotate-left {
	
	0% {
		transform: rotateZ( 0 );
	}
	
	100% {
		transform: rotateZ( var( --rotation-angle ) );
	}
	
}

@keyframes slide-left {
	
	0% {
		transform: translate( 0 ) rotateZ( var( --rotation-angle ) );
	}
	
	100% {
		transform: translate( calc( -1 * var( --slide-value ) ), var( --slide-value ) ) rotateZ( var( --rotation-angle ) ) ;
	}
	
}

@keyframes slide-right {
	
	0% {
		transform: translate( 0 ) rotateZ( var( --rotation-angle ) );
	}
	
	100% {
		transform: translate( var( --slide-value ), calc( -1 * var( --slide-value ) ) ) rotateZ( var( --rotation-angle ) );
	}
	
}



















